<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>LogoMaker</span>
    <span class="example-spacer"></span>
   <button class="btn" id="btns" >LOGIN</button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <div class="center">
    <h1 id="font" [routerLink]="['/home/logo-home']">Get Started !</h1>
  </div>

